@use "variables" as *;

.red {
  border: solid 1px red;
  background-color: #fee;
}

.blue {
  border: solid 1px blue;
  background-color: #eef;
}

.header {
  background: #333;

  &_hamburger {
    background: #999;
    color: #333;
  }
}

.footer {
  background: #033;
}

.scrollableText_content {
  white-space: pre;
  background-color: #333;
  border-radius: 0.35em;
}

.inlineCode {
  background: #ccc;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
