@import '../variables';

.preview {
  resize: both;
  overflow: auto;

  &-title {
    border: solid 2px #333;
    border-bottom: none;
    border-radius: 0.3em 0.3em 0 0;
    background-color: #666;
    color: #ccc;
    font-weight: bold;
    vertical-align: center;
    font-size: 1.2em;
  }

  &-body {
    border: solid 2px #333;
    border-radius: 0 0 0.3em 0.3em;
    background-color: #333;
    min-height: 7em;
    min-width: 20em;

    &-inner {
      background-color: #fff;
    }
  }

  .invalid {
    display: none;
  }
}

.block {
  width: 3em;
  height: 2em;
  border: solid 2px;
}

.background-red {
  background-color: #f99;
}

.background-blue {
  background-color: #99f;
}

.border-red {
  border-color: #f66;
}

.border-blue {
  border-color: #66f;
}
