@import 'variables';

.app {
  position: relative;
  width: 100%;
  height: 100vh;
  font-size: 2.4em;
  overflow-x: hidden;
}

.slide {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  transform-origin: center;

  &-gone {
    left: 100vw;
    transition: left 400ms ease-in, transform 100ms ease-in;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
    transform: scale(0.95);
  }

  &-left {
    transition: left 400ms ease-out;
  }
}
